table {
    border: 1px solid;
}

th {
    width: 100px;
}

td {
    text-align: center;
    border: 1px solid;
}

textarea:hover,
input:hover,
button:hover,
th:hover {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active,
th:active {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
    transform: translateY(1px);
}
